<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>

  {% load staticfiles %}
<!-- DataTables CSS -->
<link rel="stylesheet" type="text/css" href="http://cdn.datatables.net/1.10.7/css/jquery.dataTables.css">

<!-- jQuery -->
<script type="text/javascript" charset="utf8" src="http://code.jquery.com/jquery-1.10.2.min.js"></script>

<!-- DataTables -->
<script type="text/javascript" charset="utf8" src="http://cdn.datatables.net/1.10.7/js/jquery.dataTables.js"></script>

<script src="{% static "js/rango-jquery.js" %}"></script>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Simple Sidebar - Start Bootstrap Template</title>

    <!-- Bootstrap Core CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{% static 'css/simple-sidebar.css' %}" rel="stylesheet">
    <link href="{% static 'main.css' %}" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>


    <div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="#">
                        VENT
                    </a>
                </li>
                <li>
                    <a href="../../">Topology</a>
                </li>
                <li>
                    <a href="../../attackers">Attackers</a>
                </li>
                <li>
                    <a href="../../report">Report</a>
                </li>
                <li>
                    <a href="../../about">About</a>
                </li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->

        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                  <div class="col-lg-12">
                        <h1>Attacker</h1>
                        <h2>IP Address: {{attacker}}</h2>
                        <h2>Number of Attacks: {{count}}</h2>
                        <table id="myTable" class="display">
    <thead>
        <tr>
            <th>Attacked</th>
            <th>Type of Attack</th>
            <th>Date</th>
        </tr>
    </thead>
    <tbody>
      {% for threat in threats%}
        <tr>
            <td><a href='../../machine/{{threat.reciever}}'>{{threat.reciever}}</a></td>
            <td>{{threat.name}}</td>
            <td>{{threat.date}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
                    </div>
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->

        <!-- Admin Actions -->
        <div style="position: absolute; top: 10px; right: 13px; width: 300px; height: 100px; background-color: #F1F1F1; align: right;">
          <center>
            <div style="position: absolute; left: 0; right: 0; top: 10px;">
              <b>Admin Actions</b>
            </div>
            <div style="position: absolute; left: 0; right: 0; top: 30px;">
              <form action="{% url 'admin_actions' attacker %}" method="post">
                {% csrf_token %}
                <select id="action" name="action_list">
                  <option value="" selected="selected">Select an action...</option>
                  <option value="0">Port Scan</option>
                  {% if blackholed == 0 %}
                  <option value="1">Blackhole IP</option>
                  {% else %}
                  <option value="2">Remove Blackhole</option>
                  {% endif %}
                </select>
                <input type="submit" value="Submit" />
              </form>
            </div>
          </center>
        </div>
        <!-- /Admin Actions -->


    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Menu Toggle Script -->
    <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
    </script>

</body>
</html>
