<!DOCTYPE html>
<html>
  <head>
  <style>
table, th, td {
border: 1px solid black;
border-collapse: collapse;
padding: 5px;
text-align: center;
}
</style>
  </head>

  <body>
    <h1>Attacker: {{attacker}}</h1>
    <table style="width:100%">
      <tr>
        <th>Attacked</th>
        <th>Type of Attack</th>
        <th>Date</th>
      </tr>
      {% for threat in threats %}
      <tr>
        <td><a href='../../machine/{{threat.reciever}}'>{{ threat.reciever }}</a></td>
        <td>{{ threat.name }}</td>
        <td>{{ threat.date }}</td>
      </tr>
    {% endfor %}
  </table>
  <br />
  <td>Blackhole Options:</td><br />
  <input type="submit" id="btnBlackholeAdd" value="Create" style="width:100px; height:30px">
  <input type="submit" id="btnBlackholeDel" value="Remove" style="width:100px; height:30px">

  </body>
</html>
