<!DOCTYPE html>
{% load static %}
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="{% static "main.css" %}"/>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.9/jquery-ui.min.js"></script>
  </head>

  <body>
        <div id="machines" class="out">
        </div>
  </body>

  <script>
  window.onload=function()
  {
    var machines = document.getElementById('machines');
    var $body = $('body');
    var bodyWidth = $body.width();
    var i=1;
      {% for machine in machines %}
      //div for machine overall
      var machine = document.createElement("div");
      var name = "machine"+i;
      machine.setAttribute("style", "width: 100px");
      machine.setAttribute("id", name);
      machine.setAttribute("class", "machineDiv");

      //image for machine
      var machine_picture = document.createElement("img")

      //Check threat level and match it with the right image
      if({{machine.number_of_threats}} == 0)
      {
        //machine_picture.setAttribute("src", "{% static "green-square" %}");
        machine_picture.setAttribute("src", "{% static "green.png" %}");
      }

      if({{machine.number_of_threats}} == 1)
      {
        //machine_picture.setAttribute("src", "{% static "yellow-square" %}");
        machine_picture.setAttribute("src", "{% static "yellow.png" %}");
      }

      if({{machine.number_of_threats}} == 2)
      {
        //machine_picture.setAttribute("src", "{% static "orange-square" %}");
        machine_picture.setAttribute("src", "{% static "orange.png" %}");
      }

      if({{machine.number_of_threats}} == 3)
      {
        //machine_picture.setAttribute("src", "{% static "red-square" %}");
        machine_picture.setAttribute("src", "{% static "red.png" %}");
      }
      machine_picture.setAttribute("height", "100");
      machine_picture.setAttribute("width", "100");
      //machine_picture.setAttribute("onmouseover", "hideDescription(" + i + ")");
      //machine_picture.setAttribute("onmouseout", "hideDescription(" + i + ")");
      //machine_picture.setAttribute("onclick" , "hideDescription(" + i + ")");

      //div for machine info
      var machine_info = document.createElement("div");
      machine_info.setAttribute("id", "machine_info"+i);
      machine_info.innerHTML="{{machine.name}}\n{{machine.ip}}";

      //Append machine info and image to a machine
      machine.appendChild(machine_picture);
      machine.appendChild(machine_info);
      //Append machine to machines
      machines.appendChild(machine);
      //machine.addClass('machineDiv').appendTo("machines");

      //$'machine'.appendTo('machines');

      //make each machine draggable
      $(document).ready(function() {
        $("#machine"+i).draggable();
        $("#machines"+i).draggable({
          stop: function(event, ui) {
            var left = ui.position.right;
            var top = ui.position.bottom;

            left = left - left % 10;
            top = top - top % 10;
            $("#machines"+i).offset({left:left,top:top});
            console.log($("#machines"+i).position());
            }
          });
        });

      i++;
      {%endfor%}
    }
  </script>
  <script type="text/javascript">
  function hideDescription(computerID){
    var DescriptionElement = "#machine_info" +computerID;
    $(DescriptionElement).toggleClass("hidden");
  }
  </script>
</html>
