<!DOCTYPE html>
{% load static %}
<html>
  <head>
    <script src="{% static "topology.index.js" %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static "main.css" %}"
  </head>

  <body>
    {% if machines %}
      {% for machine in machines %}
        <img src=" {% static "square.jpg" %}" height="100", width="60"> </br> </br>
        {{ machine.name}} </br> {{machine.ip}} </br>
      {% endfor %}
    {% endif %}
  </body>

  <script language="javascript">
  function toggle2(showHideDiv, switchTextDiv) {
  var ele = document.getElementById(showHideDiv);
  var text = document.getElementById(switchTextDiv);
  if(ele.style.display == "block") {
        ele.style.display = "none";
    text.innerHTML = "show";
    }
  else {
    ele.style.display = "block";
    text.innerHTML = "hide";
  }
}
</script>



</html>
