<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Simple Sidebar - Start Bootstrap Template</title>

    <!-- Bootstrap Core CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{% static 'css/simple-sidebar.css' %}" rel="stylesheet">
    <link href="{% static 'main.css' %}" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="#">
                        VENT
                    </a>
                </li>
                <li>
                    <a href="">Topology</a>
                </li>
                <li>
                    <a href="attackers">Attackers</a>
                </li>
                <li>
                    <a href="report">Report</a>
                </li>
                <li>
                    <a href="about">About</a>
                </li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <h1>Network Topology</h1>
                        <div id="machines" class="out">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="{% static 'js/jquery.js' %}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{% static 'js/bootstrap.min.js' %}"></script>

    <!-- Menu Toggle Script -->
    <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
    </script>

    <!-- Dynamically generate machines in database -->
  <script>
  window.onload=function()
  {

    var machines = document.getElementById('machines');
    var i=1;
      {% for machine in machines %}
      //div for machine overall
      var machine = document.createElement("div");
      var name = "machine"+i;
      machine.setAttribute("style", "width: 100px");
      machine.setAttribute("id", name);
      machine.setAttribute("class", "machineDiv");
      //link to info about machine
      var machine_link = document.createElement("a")
      machine_link.setAttribute("href", "machine/{{machine.ip}}")

      //image for machine
      var machine_picture = document.createElement("img")

      //Check threat level and match it with the right image
      if({{machine.number_of_threats}} < 5)
      {
        //machine_picture.setAttribute("src", "{% static "green-square" %}");
        machine_picture.setAttribute("src", "{% static "green-square.png" %}");
      }

      else if({{machine.number_of_threats}} < 10 && {{machine.number_of_threats}} >= 5)
      {
        //machine_picture.setAttribute("src", "{% static "yellow-square" %}");
        machine_picture.setAttribute("src", "{% static "yellow-square.png" %}");
      }

      if({{machine.number_of_threats}} < 15 && {{machine.number_of_threats}} >= 10)
      {
        //machine_picture.setAttribute("src", "{% static "orange-square" %}");
        machine_picture.setAttribute("src", "{% static "orange-square.png" %}");
      }

      if({{machine.number_of_threats}} >= 15)
      {
        machine_picture.setAttribute("src", "{% static "red-square.png" %}");
      }

      machine_picture.setAttribute("height", "100");
      machine_picture.setAttribute("width", "100");

      //div for machine info
      var machine_info = document.createElement("div");
      machine_info.setAttribute("id", "machine_info"+i);
      machine_info.innerHTML="{{machine.name}}\n{{machine.ip}}";

      //Append machine info and image to a machine
      machine_link.appendChild(machine_picture);

      machine.appendChild(machine_link);
      machine.appendChild(machine_info);
      //Append machine to machines
      machines.appendChild(machine);
      i++;
      {%endfor%}
    }
  </script>

</body>

</html>
