<!DOCTYPE html>
<html>
  <head>
    {% load staticfiles %}
    <!-- DataTables CSS -->
  <link rel="stylesheet" type="text/css" href="http://cdn.datatables.net/1.10.7/css/jquery.dataTables.css">

  <!-- jQuery -->
  <script type="text/javascript" charset="utf8" src="http://code.jquery.com/jquery-1.10.2.min.js"></script>

  <!-- DataTables -->
  <script type="text/javascript" charset="utf8" src="http://cdn.datatables.net/1.10.7/js/jquery.dataTables.js"></script>

  <script src="{% static "js/rango-jquery.js" %}"></script>
    <title>{{machine_ip}}</title>
  </head>

  <body>
    <h1>{{machine_ip}}</h1>
    <h2>Number of Threats: {{machine_ip.number_of_threats}} </h2>
    <h3>Top 5 Attackers</h3>
    {% for machine in top5 %}
    {{ machine }}
  </br>
    {% endfor %}
  </br>

<h3>Attacks</h3>
  Button to add name to machine
  <table id="myTable" class="display">
    <thead>
        <tr>
            <th>Attacker</th>
            <th>Type of Attack</th>
            <th>Date</th>
        </tr>
    </thead>
    <tbody>
      {% for threat in threats%}
        <tr>
            <td>{{threat.attacker}}</td>
            <td>{{threat.name}}</td>
            <td>{{threat.date}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
  </body>
</html>
