<!DOCTYPE html>
<html>
  <head>
  <style>
table, th, td {
border: 1px solid black;
border-collapse: collapse;
padding: 5px;
text-align: center;
}
</style>
    <title>{{machine_ip}}</title>
  </head>

  <body>
    <h1>{{machine_ip}}</h1>
    <h2>Number of Threats: {{machine_ip.number_of_threats}} </h2>
    <h3>Top 5 Attackers</h3>
    {% for machine in top5 %}
    {{ machine }}
  </br>
    {% endfor %}
  </br>

<h3>Attacks</h3>
    <table style="width:100%">
      <tr>
        <th>Attacker</th>
        <th>Type of Attack</th>
        <th>Date</th>
      </tr>
      {% for threat in threats %}
      <tr>
        <td><a href='../../attacker/{{threat.attacker}}'>{{ threat.attacker }}</a></td>
        <td>{{ threat.name }}</td>
        <td>{{ threat.date }}</td>
      </tr>
    {% endfor %}
  </table>
  Button to add name to machine
  </body>
</html>
